@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.Header {
    width: 100vw;
    text-align: center;
}
.Header img {
    height: 80px;
    width: auto;
    margin-top: 20px;
}
.TextContainer {
    max-width: 600px;
    margin: 50px auto;
    margin-bottom: -40px;
    text-align: center;
}
.TextContainer h2 {
    color: white;
}
.login-page {
  width: 480px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 460px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1665aa;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
input[type="checkbox"] {
    width: 25px;
}
.register-form {
    text-align: left;
}
.form button:hover,.form button:active,.form button:focus {
  background: #124876;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #1665aa;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
#subscriptionsView {
    margin-bottom: 20px;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
}
body {
    /*darker blue: #124876
      lighter blue: #1665aa */
  background: #1665aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #124876, #1665aa);
  background: -moz-linear-gradient(right, #124876, #1665aa);
  background: -o-linear-gradient(right, #124876, #1665aa);
  background: linear-gradient(to left, #124876, #1665aa);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
