@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.TopButtons {
  padding: 15px;
  font-size: 16px;
  border: 2px solid white;
  font-family: url(https://fonts.googleapis.com/css?family=Roboto:700);
  font-style: bold;
  color: white;
  background: rgba(0, 0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.TopButtons:hover {
  color: #1665aa;
  background: white;
}
.Header {
    width: 100vw;
    text-align: center;
}
.Header img {
    height: 80px;
    width: auto;
    margin-top: 20px;
}
.TextContainer {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}
.TextContainer h2 {
    color: white;
    font-size: 32px;
}
h3 {
  font-size: 26px;
}
.login-page {
  width: 700px;
  padding: 20px 0 0;
  margin: auto;
}
#main-form p {
  width: 90%;
  margin-left: 5%;
  font-size: 24px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 24px;
}
.form input[type="checkbox"] {
  padding: 0px;
  margin: 0px;
}
.form select {
    width: 100%;
    margin-bottom: 15px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1665aa;
  width: 100%;
  border: 0;
  padding: 20px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
input[type="checkbox"] {
    width: 25px;
}
.register-form {
    text-align: left;
}
.form button:hover,.form button:active,.form button:focus {
  background: #124876;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 18px;
}
.form .message a {
  color: #1665aa;
  text-decoration: none;
  cursor: pointer;
}
span {
  font-size: 24px;
}
#subscriptionsView {
  margin-bottom: 20px;
}
body {
    /*darker blue: #124876
      lighter blue: #1665aa */
  background: #1665aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #124876, #1665aa);
  background: -moz-linear-gradient(right, #124876, #1665aa);
  background: -o-linear-gradient(right, #124876, #1665aa);
  background: linear-gradient(to left, #124876, #1665aa);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  margin: 0;
}

#downloadPopup {
  display: none;
  position: fixed;
  top: 45vh;
  left: 32.5vw;
  width: 35vw;
  height: 30vh;
  border-radius: 15px;
  background-color: #1665aa;
  z-index: 100;
}
#pdfIcon {
  width: 80%;
  height: auto;
  margin-left: 9%;
  margin-top: 5%;
}
#closePDFButton {
  position: absolute;
  width: 50px;
  right: -15px;
  top: -15px;
}
#downloadPopup h3 {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 4px;
}
